{% extends 'base.html' %}
{% block title %}Adicionar vaga{% endblock %}
{% block style %}
  {% load static %}
{% endblock %}
{% block body %}
  {% include 'navbar.html' %}
  <div class="container-fluid" id="empresa_vaga">
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-danger">
                <div class="panel-heading lead text-center">
                  Adicionar vaga
                </div>
                <div class="panel-primary">
                  <div class="panel-body">

                    <form action="{% url 'core:CadastrarVagaEmpresa' %}" method="POST" class="form">
                      {% csrf_token %}
                      {% for field in form %}
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              {{ field.errors }}
                              {{ field }}
                            </div>
                          </div>
                        </div>
                        <div class="wrapper_space"></div>
                      {% endfor %}
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <input type="hidden" name="id" value="{{ request.session.id_empresa }}">
                          <button type="submit" class="btn btn-danger">
                            Cadastrar
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if vaga %}
    <div id="successModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Vaga</h4>
                </div>
                <div class="modal-body">
                    <p class="modal-text">Vaga cadastrada com sucesso!</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-2x fa-times" aria-hidden="true"></i>
                  </button>
                </div>
            </div>
        </div>
    </div>
  {% endif %}
{% endblock %}
{% block script %}
<script src="{% static 'js/cadastrarvagaempresa.js' %}"></script>
{% endblock %}
